@import "../../assets/styles/app";

.footer {
  @include onlyMobileAndLess(flex);
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
  left: 0;
  bottom: 26px;
  right: 0;


  .link {
    display: block;

    &:not(:first-child) {
      margin-left: 10px;
    }

    img {
      display: block;
    }

    &:nth-child(1) {
      & > img {
        width: 56.455px;
        height: 32.76px;
      }
    }

    &:nth-child(2) {
      & > img {
        width: 56.528px;
        height: 38.115px;
      }
    }

    &:nth-child(3) {
      & > img {
        width: 54.135px;
        height: 38.826px;
      }
    }

    &:nth-child(4) {
      & > img {
        width: 58.622px;
        height: 30.435px;
      }
    }
  }
}
