.app {
  position: relative;
  min-height: 100vh;

  main {
    position: relative;
  }

  .audio {
    display: none;
  }
}

html {
  @media (max-width: 1919px) {
    font-size: 1.367vw;
    /* font-size: 1.5vw; */
  }
}
